@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root{
	font-family: 'Work Sans', sans-serif;
	size: 10px;
	font-size: 10px;
	background-color: #E5E5E5;
}
main{
	background-color: #FFB084;
	max-width: 75.5rem;
	max-height: 49.5rem;
	margin: 2rem auto;
	border-radius: 2rem;

}
section{
	display: grid;
	grid-template-columns: 1.32fr 1fr 1fr;	
	margin: 0 4.5rem 0 3.8rem;
	padding-top: 2.7rem;
	padding-bottom: 6.9rem;
	gap: 1.4rem 2.2rem;
	height: 40rem;
}
section div{
	background-color: white;
	border-radius: 2rem;
	transition: all .7s;
	text-align: center;
	box-shadow: .7rem .7rem 0 black;	
}
section div:hover {
	transform: scale(1.1);
}
h1{
	color: black;
	font-weight: 700;
	font-size: 2.4rem;
}
.pre{
	white-space: pre;
}
section p{
	text-align: left;
	padding-left: 2.7rem;	
}
section div:nth-child(1){
	font-size: 1.2rem;
	font-weight: 600;
	grid-row: 1/7;
}
section:nth-child(1) span{
	font-size: 1.2rem;
	font-weight: 400;
}
section div:nth-child(2){
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row: 1/3;
}
h2{
	color: black;
	font-weight: 700;
	font-size: 1.4rem;
	text-align: left;
	padding-left: 2.7rem;
}
h3, h4, h5{
	font-weight: 700;
	font-size: 1.4rem;
	text-align: left;
	padding-left: 2.7rem;
	
}
h3{
	color: #29A71E;
}
h4{
	color: #E13535;
}
.bio{
	font-size: 1.4rem;
	line-height: 1.642rem;
	text-align: left;
	padding-left: 3rem;
	padding-right: 1rem;
	
}
ul{
	font-weight: 400;
	font-size: 1.4rem;
	color: black;
	text-align: left;
	padding-right: 1rem;
}
section div:nth-child(3){
	box-shadow: .7rem .7rem 0 #29A71E;
	grid-row: 3/5;
}
section div:nth-child(4){
	box-shadow: .7rem .7rem 0 #E13535;
	grid-row: 3/6;
}
section div:nth-child(6){
	box-shadow: .7rem .7rem 0 #3675B0;
	grid-row: 5/8;
	align-self: flex-start;
	
}
h5{
	color: #3675B0;
}
section div:nth-child(7){
	grid-row: 6/8;
}